@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin gradient($from, $to) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -moz-linear-gradient($from, $to);
  background-image: linear-gradient($from, $to);
}

.humpyard-form {
  textarea {
    width: 100%;
  }
  input.text {
    width: 100%;
  }
  .fields {
    border: 1px solid #999;
    padding: 10px;
    margin: 0 0 10px 0;
    @include gradient(#ddd, #eee);
    @include border-radius(2px);
  }
  
  .dynamic_inputs {
    .fields {
      position: relative;
      padding-right: 40px;
      .icons {
        position: absolute;
        width: 20px;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}