@import "humpyard_form/helpers/css3";
.humpyard-form {
  textarea {
    width: 100%;
  }
  input.text {
    width: 100%;
  }
  .fields {
    border: 1px solid #999;
    padding: 10px;
    margin: 0 0 10px 0;
    @include gradient(#ddd, #eee);
    @include border-radius(2px);
  }
  
  .dynamic_inputs {
    .fields {
      position: relative;
      padding-right: 40px;
      .icons {
        position: absolute;
        width: 20px;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}